@font-face {
    font-family: 'roboto-bold';
    src: url(../fonts/ROBOTO-BOLD.TTF) format('truetype');
}

@font-face {
    font-family: 'roboto-light';
    src: url(../fonts/ROBOTO-LIGHT.TTF) format('truetype');
}

@font-face {
    font-family: 'roboto-medium';
    src: url(../fonts/ROBOTO-MEDIUM.TTF) format('truetype');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #8cc63e;
}

.container {
}

#form1 {
    border-radius: 20px;
    background-color: white;
    max-width: 350px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: absolute;
    margin: 0;
    margin-right: -50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fBtn {
    background-color: #404041 !important;
    font-family: roboto-bold !important;
}

    .fBtn:hover {
        background-color: #4f4f4f !important;
    }
