<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <machineKey
validationKey="CC3091B6C14BC98F712C775F9A5DDA67B6805DC9C891D0106EA4ADCF3967E5346497E13B03B9B8F316C8C19B0291181186C679A08578A5EEE7A0DB51AAB52C3F"
decryptionKey="A4ADAEA9F35F77B12AB722F8386F87AF7D984DC1BC3A680993C51B227794D4D9"
validation="SHA1" decryption="AES"
/>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.codedom>

  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>